[Desktop Entry]
Version=1.0
Type=Application
Name=Управление роботом
GenericName=Robot ROS
Exec=/home/alex/work/amr/robot_ros/control_epuck.sh
Terminal=false
MimeType=text/plain;
Icon=/home/alex/work/amr/robot_ros/src/path_planning/scripts/icon.png
Categories=Development;
StartupNotify=true
Actions=Model;Path;rqt;rviz;

[Desktop Action Model]
Name=Симулятор
Exec=/home/alex/work/amr/robot_ros/model.sh
OnlyShowIn=Unity;

[Desktop Action Path]
Name=Планирование пути
Exec=/home/alex/work/amr/robot_ros/path.sh
OnlyShowIn=Unity;

[Desktop Action rqt]
Name=rqt
Exec=/opt/ros/kinetic/env.sh /opt/ros/kinetic/bin/rqt
OnlyShowIn=Unity;

[Desktop Action rviz]
Name=rviz
Exec=/opt/ros/kinetic/env.sh /opt/ros/kinetic/bin/rviz
OnlyShowIn=Unity;
