<launch>
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_ar_marker_0_to_world" args="0 0 0 0 0 0 ar_marker_0 world 100" />
    <node pkg="tf" type="tf_echo" name="tf_echo_world_camera" args="world camera" output="screen"/>
    <!--
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_world_camera" args="-0.329 0.386 0.415 -0.548 0.688 -0.387 0.278 world camera 100" />
    <node pkg="tf" type="tf_echo" name="tf_echo_world_ar_marker_0" args="world ar_marker_0" output="screen" />
    -->
</launch>
