[Desktop Entry]
Version=1.0
Type=Application
Name=Планирование пути
GenericName=Robot Control
Exec=/home/alex/work/robot_ros/path.sh
Terminal=false
MimeType=text/plain;
Icon=/home/alex/work/robot_ros/src/path_planning/scripts/map.png
Categories=Development;
StartupNotify=true
